@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
	border-top: 1px solid $color-base;
	max-width: $layout-post-width;
	padding-top: 20px;
	@include line-height(1);
	@include margin-top(1);
	@include margin-bottom(2);
	font-style: italic;
	&__date {
		font-style: italic;
		&-twitter {
			text-decoration: underline;
		}
	}
}
